@media (max-width:768px) {
    .container-cima{
        flex-direction: column;
    }
}

@font-face{
    font-family: 'font-descre';
    src: url('../fonts/ldfcomicsans-font/Ldfcomicsans-jj7l.ttf') format('truetype');
    font-weight: normal;
}

body {
    background-color: rgb(39, 39, 39);
    color: aliceblue;
    font-family: 'font-descre';
    text-align: center;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container-inicio {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.container-inicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100000;
    background-image: url('../img/background/3.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.container-inicio::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center, transparent 60%, black 90%);
    z-index: 1;
    pointer-events: none;
}

.circle-green{
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    animation: anima-circle-green 3s infinite;
}

@keyframes anima-circle-green{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.4;
    }
    100%{
        opacity: 1;
    }
}

.new-projects{
    margin-top: 150px;
    background-color: black;
    border-radius: 15px;
    border: 1px solid rgb(71, 71, 71);
    width: 250px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}


.container-cima-inicial {
    width: 100%;
}

.titulo {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 25px;
}

.color-name{
    background: linear-gradient(to right, #248bff, #24ff87);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.imagem-eu{
    border: 1px solid white;
    box-shadow: 5px 5px 10px #000000;
    width: 275px;
    height: 275px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.imagem-eu img{
    width: 275px;
    height: 275px;
}

.container-baixo-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descricao-inicial{
    padding-bottom: 5px;   
    width: 100%;
}

.texto-desc{
    color: rgb(188, 188, 188);
}

.seta-scroll{
    flex-direction: row;
    text-align: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: rgb(179, 179, 179);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.seta-scroll:hover{
    color:rgb(255, 255, 255)
}

.seta-scroll-img{
    width: 20px;
    height: 20px;
    animation: seta-scroll 2s infinite;
}

@keyframes seta-scroll{
    0%{
        transform: translateY(0px); 
    }
    50%{
        transform: translateY(10px); 
    }
    100%{
        transform: translateY(0px); 
    }
}

.container-about-me{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(140, 0, 255);
    gap: 50px;
    height: 100vh;
    scroll-snap-align: start;
    padding-top: 100px;
}

.box-text{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.box{
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
}

.container-tecnologias {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(226, 20, 20);
    gap: 50px;
    height: 100vh;
    scroll-snap-align: start;
    padding-top: 100px;
}

.container-tecnologias img{
    width: 50px;
    height: 50px;
}

.conteudo-skills {
    display: flex;
    flex-direction: row;
    gap: 75px;
}

.linguagens {
    flex: 1;
}

.aplicacoes {
    flex: 1;
}
