@media (max-width:768px) {
    .container-cima{
        flex-direction: column;
    }
}

@font-face{
    font-family: 'font-descre';
    src: url('../fonts/ldfcomicsans-font/Ldfcomicsans-jj7l.ttf') format('truetype');
    font-weight: normal;
}

body {
    background-color:rgb(13, 9, 23);
    color: aliceblue;
    font-family: 'font-descre';
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.leftside {
    background-color: rgb(64, 160, 255);
    flex: 1;
    max-height: 50%;
    text-align: start;
    padding-left: 20px;
    overflow: hidden;
}

.rightside {
    background-color: rgb(30, 228, 126);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50%;
    overflow: hidden;
}

.container-inicio {
    display: flex;
    height: 100vh;
    scroll-snap-align: start;
}

.container-tecnologias {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: rgb(226, 20, 20);
    gap: 50px;
    height: 100vh;
    scroll-snap-align: start;
}

.container-tecnologias img{
    width: 50px;
    height: 50px;
}

.linguagens {
    flex: 1;
}

.aplicacoes {
    flex: 1;
}
